.container {
    position: relative;
    text-align: right;
    color: rgb(34, 82, 82);

}

h3 {
    color: rgb(34, 82, 82);
    font-size: 40px;
}

.top-left {
    position: absolute;
    top: 50px;
    left: 16px;
    font-size: x-large;
    font-family: 'Teko', sans-serif;
    font-size: 40px;
    flex-direction: column;
    justify-content: center;
    animation: showup 6s infinite;

}

@keyframes showup {
    0% {
        opacity: 0;
    }

    20% {
        opacity: 1;
    }

    80% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}

.dutchhospital {
    margin-top: 0%;
    margin-left: 0%;
    margin-right: 0%;
    width: 60%;
    height: 100%;

}